<nav>  
    <div class="nav_container"> 
    <a href="/">Home</a>  
    <a href="/creation">Monster Creation</a> 
  
    {{#if userStatus}}
    <a href="/user/logout">Logout</a>  
    {{else}}
    <a href="/user/login">Login</a>    
    {{/if}} 
    </div>
</nav>
<div id="page" class="d-flex align-items-center">  
<div class="container d-flex justify-content-center flex-column align-items-center">  

<div id="title">   
    <h1>MONSTER</h1> 
    <h1>MASH UP</h1>  
</div>    



<div id="monster" class="m-5"> 
    <div id="monster_head"> 
        {{#ifEquals user.head "none"}}  
        <img class="monster" src=Images/none.png>  
        {{else}} 
        <img class="monster" src=Images/{{user.head}}.png> 
        {{/ifEquals}} 
    </div> 
    <div id="monster_body"> 
        {{#ifEquals user.body "none"}} 
        <img class="monster" src=Images/none.png>  
        {{else}} 
        <img class="monster" src=Images/{{user.body}}.png>
        {{/ifEquals}} 
    </div> 
    <div id="monster_right_arm"> 
        {{#ifEquals user.rightArm "none"}} 
        <img class="monster" src=Images/none.png>  
        {{else}} 
        <img class="monster" src=Images/{{user.rightArm}}.png>
        {{/ifEquals}} 
    </div> 
    <div id="monster_left_arm"> 
        {{#ifEquals user.leftArm "none"}} 
        <img class="monster" src=Images/none.png>  
        {{else}} 
        <img class="monster" src=Images/{{user.leftArm}}.png>
        {{/ifEquals}} 
    </div> 
    <div id="monster_right_leg"> 
        {{#ifEquals user.rightLeg "none"}} 
        <img class="monster" src=Images/none.png>  
        {{else}} 
        <img class="monster" src=Images/{{user.rightLeg}}.png>
        {{/ifEquals}} 
    </div> 
    <div id="monster_left_leg"> 
        {{#ifEquals user.leftLeg "none"}} 
        <img class="monster" src=Images/none.png>  
        {{else}} 
        <img class="monster" src=Images/{{user.leftLeg}}.png> 
        {{/ifEquals}} 
    </div>
</div>  
<a href="/" id="button_at_home" class="transition_button">Story Mode</a>
</div>  
</div>
